.sideBar ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.sideBar li {
  margin: 0 1rem;
  width: 10rem;
  line-height: 5rem;
  transition: transform 0.5s;
}

.sideBar a {
  color: white;
  background-color: #202124;
  transition: font-size 0.5s;
}

.sideBar a:hover,
.sideBar a:active,
.sideBar a.active {
  color: whitesmoke;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid whitesmoke;
  font-size: 3vh;
}
.sideBar li:hover,
.sideBar li:active {
  transform: translate(1.6vw, 1.6vh);
}
