html,
body {
  height: 100%;
  width: 100%;
}
.container {
  margin: 10px;
  text-align: center;
}
.row {
  width: 78vw;
}
.sideBar {
  background-color: #0b3142;
  color: whitesmoke;
  height: 97vh;
  border-radius: 20px 0 0 20px;
}

.topBar {
  background-color: #9c92a3;
  height: 10vh;
  width: 100vw;
  border-radius: 0 20px 0 0;
}

.main {
  background-color: #d6d3f0;
  height: 87vh;
  width: 100vw;
  border-radius: 0 0 20px 0;
}
.col-sm-3 {
  padding: 0px;
}
