html,
body {
  height: 100%;
  width: 100%;
  font-family: "Copperplate";
}
.container {
  margin: 10px;
  text-align: center;
}
.row {
  width: 78vw;
}
.sideBar {
  background-color: #202124;
  color: whitesmoke;
  height: 97vh;
  border-radius: 20px 0 0 20px;
}
.title {
  background-color: #202124;
  height: 10vh;
  border-radius: 20px 0 0 0;
  font-family: "Brush Script MT", cursive;
  font-size: 50px;
  padding-top: 8px;
  color: #ffb2ff;
}

.topBar {
  background-color: #606368;
  height: 10vh;
  width: 100vw;
  border-radius: 0 20px 0 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
input,
button {
  margin: 20px;
  border-radius: 10px;
}

.main {
  background-color: #3c4042;
  height: 87vh;
  width: 100vw;
  border-radius: 0 0 20px 0;
  display: grid;
  grid-template-columns: 50% 50%;

  padding: 10px;
}
.col-sm-3 {
  padding: 0px;
}
.displayBox {
  background-color: #606368;
  float: none;
  border-radius: 10px;
  margin: 7px;
  height: 39vh;
  text-align: left;
}
.boxTop {
  background: #ea80fc;
  width: inherit;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  font-weight: bolder;
  font-size: 80%;
}
.boxBot {
  overflow: scroll;
  scrollbar-width: none;
  width: inherit;
  height: 100%;
  position: relative;
}

.trendingBox {
  position: absolute;
  display: flex;
  animation-name: autoScroll;
  animation-duration: 100s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes autoScroll {
  0% {
    left: 0%;
  }
  100% {
    left: -1100%;
  }
}
.trending {
  background-color: black;
  border-radius: 10px;
  list-style-type: inherit;
  width: 10vw;
  height: fit-content;
  margin: 5px;
  padding: 0px;
  transition: width 0.3s;
}
.trending:hover {
  width: 12vw;
  z-index: 1;
}
.rank {
  font-size: 1vw;
  margin: 0 0 0 5px;
  color: whitesmoke;
}
a {
  width: inherit;
  color: #ea80fc;
}
img {
  width: inherit;
}
.trendingTitle {
  font-size: 0.8vw;
  width: inherit;
  margin: 0;
}

p {
  padding: 0px;
  margin: 5px;
}
a {
  text-align: center;
}

li {
  list-style-type: none;
  font-size: 13px;
}
ul {
  margin-top: 20px;
  text-align: left;
}
ol {
  margin-top: 20px;
  text-align: left;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid red;
  border-color: red transparent red transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
